$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-secondary-color: #000000;
$primary-white-color: #ffffff;
$secondary-white-color: #f5f4fa;
$fotter-bcg-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$timing-function: cubic-bezier(0.4, 0, 0.2, 0.1);
