.header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-address {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}

/* оформление логотипа Web Studio */

.logo {
  margin-right: 85px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: $accent-secondary-color;
}

/* оформление навигации студия, портфолио, навигация */
/* navigation */
.studio {
  color: $accent-color;

  &::after {
    content: "";
    display: flex;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    border-radius: 2px;
    bottom: 0;
  }
}

.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
