.header {
  position: relative;
  // padding-top: 16px;
  // padding-bottom: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &-web {
    color: $accent-color;
  }
  &-studio {
    color: $accent-secondary-color;
  }
}

.nav-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address-list {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  align-items: center;
  text-decoration: none;
  color: $primary-text-color;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .address-list-svg {
    transition: 250ms $timing-function;
  }
}

.address-list-svg {
  margin-right: 10px;
  fill: $primary-text-color;
}
.address-list:hover .address-list-svg {
  fill: $accent-color;
}
.address-list:focus .address-list-svg {
  fill: $accent-color;
}

// Остаются только на моб //

@media screen and(max-width:767px) {
  .navigation {
    margin-bottom: 60px;
  }

  .nav-list-item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .menu-btn {
    border: none;
    background-color: transparent;
    transition: 250ms $timing-function;

    &.is-open {
      .icon-close {
        display: block;
      }
      .icon-open {
        display: none;
      }
    }
  }

  .icon-close {
    display: none;
  }

  .menu-btn:focus,
  .menu-btn:hover .icon-open {
    fill: $accent-color;
  }
  .menu-btn:focus,
  .menu-btn:hover .icon-close {
    fill: $accent-color;
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 453px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    background: $primary-white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 3;
  }

  .menu-wrapper.is-open {
    display: block;
  }
  .address-list:not(:last-child) {
    margin-bottom: 16px;
  }
}

// Стили для Планшета

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 81px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 80px;
  }

  .logo {
    font-size: 23px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .menu-btn {
    display: none;
  }

  .menu-wrapper {
    display: flex;
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .nav-list {
    display: flex;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .address {
    display: grid;
  }

  .address-list {
    font-size: 12px;
    line-height: 1.16;
  }
  .address-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and(min-width:1200px) {
  .header {
    display: flex;
    align-items: center;
  }
  .address {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .address-list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 80px;
  }
}
