address {
  font-style: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.address-list {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: $primary-text-color;

  transition: 250ms $timing-function;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .address-list-svg {
    transition: 250ms $timing-function;
  }
}

.address-list-svg {
  margin-right: 10px;
  fill: $primary-text-color;
}
.address-list:hover .address-list-svg {
  fill: $accent-color;
}
.address-list:focus .address-list-svg {
  fill: $accent-color;
}
