.hero {
  // max-width: 1600px;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../../images/hero-img/hero-mobile.jpg);
  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-container {
  text-align: center;
  position: relative;
}

.hero-tittle {
  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  padding-top: 118px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

// Изображение героя для МОБИЛКИ
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and(min-width:320px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../images/hero-img/hero-mobile@2x.jpg);
  }
}
// Изображение ГЕРОЯ для ПЛАНШЕТА
@media screen and(min-width:768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../images/hero-img/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and(min-width:768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../images/hero-img/hero-tablet@2x.jpg);
  }
}

// Изображение героя для ДЕСКТОПА

@media screen and(min-width:1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../images/hero-img/desktop.jpg);
  }

  .hero-tittle {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    padding-top: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and(min-width:1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-img/desktop@2x.jpg);
  }
}
