.services {
  padding-top: 94px;
}

.services-tittle {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.services-text {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.services-svg {
  // width: 270px;
  min-width: 450px;
  height: 120px;
  text-align: center;
  padding-top: 24px;

  background-color: #f5f4fa;
  border-radius: 4px;
}
// @media screen and (max-width: 767px) {
//   .services-icon:not(:last-child) {
//     margin-bottom: 30px;
//   }
// }
// @media screen and (min-width: 768px) {
//   .services-icon {
//     flex-basis: calc((100% - 4 * 15px) / 2);
//     margin: 15px;
//   }
// }
// @media screen and (min-width: 1280px) {
//   .services-icon {
//     margin-top: 0;
//     margin-bottom: 0;
//     margin-left: 0;
//     margin-right: 30px;
//   }
//   .services-svg {
//     min-width: 270px;
//   }
// }
