.section-team {
  background-color: $secondary-white-color;
}
.team-list {
  display: flex;
}

.team {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-tittle {
  margin-bottom: 16px;

  text-align: center;
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-card {
  width: 270px;

  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.social-icon {
  display: flex;
  justify-content: center;
}

.social-svg {
  padding-bottom: 24px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: white;
  color: #afb1b8;
  background-repeat: no-repeat;
  background-position: center;

  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  .team-link-icon {
    transition: 250ms $timing-function;
  }
}

.team-link-icon {
  fill: currentColor;
}

.team-link:hover .team-link-icon {
  fill: white;
}
.team-link:focus .team-link-icon {
  fill: white;
}
